body {
    background: radial-gradient(circle at center, #ffffff, #ff66b2);
    display: flex;
    font-family: sans-serif;
}

h1 {
    color: red;
}

image {
    max-width: 100%;
    display: block;
    margin: 10 0;
}